[Unit]
Description=transmissionbutler
After=network.target transmission-daemon.service

[Service]
User=transmissionbutler
EnvironmentFile=/etc/default/transmissionbutler
ExecStart=/usr/bin/transmissionbutler -conf $CONFIG -loglevel $LOGLEVEL
ExecReload=/bin/kill -USR1 $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
